.categories-pag {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 11px;

   &__link {
      padding: 0 5px;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 160%;
      color: var(--color-gray);
      transition: color .3s;

      &:focus {
         outline: 1px solid var(--color-primary);
         outline-offset: 2px;
      }

      &:hover {
         color: var(--color-primary);
      }

      &:active {
         color: var(--color-active);
      }

      &--active {
         color: var(--color-primary);
      }

      path {
         fill: currentColor;
      }
   }
}