.contacts {
   padding: 121px 0 120px;

   &__content {
      display: flex;
      justify-content: space-between;

      @include tablet {
         display: block;
      }
   }

   &__image {
      flex-shrink: 0;
      margin: 0 20px 0 0;
      border-radius: 4px;

      @include tablet {
         margin: 0 0 30px;
      }
   }
}