.history-nav {
   position: relative;
   grid-column: span 4;
   align-self: flex-start;

   @include minitablet {
      margin: 0 0 30px;
   }

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 3px;
      width: 1px;
      height: 100%;
      background: rgba(#9A9CA5, .5);
   }

   &__item {
      
      &:not(:last-child) {
         margin: 0 0 20px;
      }
   }
   
   &__btn {
      position: relative;
      padding: 0 0 0 40px;
      font-weight: 700;
      font-size: 28px;
      line-height: 150%;
      color: #9A9CA5;
      transition: color .3s;

      @include tablet {
         font-size: 22px;
      }

      &:focus {
         outline: none;
         color: var(--color-primary);
      }

      &:hover {
         color: var(--color-primary);
      }

      &:active {
         color: var(--color-active);
      }

      &--active {
         color: var(--color-primary);
      }

      &::before,
      &::after {
         content: '';
         position: absolute;
      }
      
      &::before {
         top: 13px;
         left: 3px;
         width: 1px;
         height: 16px;
         background: #F4F5F7;
      }

      &::after {
         top: 17px;
         left: 0;
         width: 8px;
         height: 8px;
         background: currentColor;
         border-radius: 100%;
      }
   }
}