.portfolio-tabs-nav {
   transform: translateY(-59px);
   margin: 0 0 61px;
   @include flex-v-center;
   gap: 20px;

   @include minitablet {
      margin: 30px 0;
      transform: none;
      flex-wrap: wrap;
      justify-content: center;
   }

   &__item {
      width: 100%;

      @include minitablet {
         width: 30%;
      }
      
      @include mobile {
         width: 100%;
      }
   }

   &__btn {
      padding: 0 15px;
      width: 100%;
      min-height: 154px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #FFF;
      box-shadow: var(--main-shadow);
      border-radius: 4px;
      transition: .3s;

      &:focus {
         outline: 1px solid var(--color-primary);
         outline-offset: 2px;
      }

      &:hover {

         .portfolio-tabs-nav__text {
            color: var(--color-ebony);
         }
      }

      &--active {
         background: var(--color-primary);
         box-shadow: 0px 60px 80px -20px rgba(255, 90, 48, 0.16), 0px 26px 24px -10px rgba(255, 90, 48, 0.1), 0px 12px 10px -6px rgba(255, 90, 48, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
         pointer-events: none;

         .portfolio-tabs-nav__icon {
            fill: #fff;
         }

         .portfolio-tabs-nav__text {
            color: #fff;
         }
      }
   }

   &__icon {
      margin: 0 0 17px;
      fill: var(--color-primary);
      transition: .3s;
      pointer-events: none;
   }

   &__text {
      font-weight: 700;
      font-size: 16px;
      line-height: 160%;
      text-align: center;
      color: #9A9CA5;
      transition: .3s;
      pointer-events: none;
   }
}