.services-item {
   position: relative;
   overflow: hidden;
   display: block;
   background: #FFF;
   border: 1px solid #E5E8ED;
   border-radius: 4px;
   box-shadow: var(--main-shadow);

   &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: no-repeat center / cover;
      opacity: 0;
      transition: opacity .3s;
   }

   &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#1E212C, .6);
      opacity: 0;
      transition: opacity .3s;
   }

   &:focus {
      outline: 1px solid var(--color-primary);
      outline-offset: 2px;
   }

   &:hover {

      &::before {
         opacity: 1;
      }

      &::after {
         opacity: 1;
      }

      .services-item__icon {

         path {
            fill: #fff;
         }
      }

      .services-item__title {
         color: #fff;
      }
   }

   &--construct {

      &::before {
         background-image: url('../img/services-1.jpg');
      }
   }

   &--development {

      &::before {
         background-image: url('../img/services-1.jpg');
      }
   }

   &--interior {

      &::before {
         background-image: url('../img/services-1.jpg');
      }
   }

   &--repairs {

      &::before {
         background-image: url('../img/services-1.jpg');
      }
   }

   &__content {
      position: relative;
      z-index: 1;
      padding: 15px;
      min-height: 283px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   &__icon {
      margin: 0 0 24px;

      path {
         fill: var(--color-primary);
         transition: fill .3s;
      }
   }

   &__title {
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
      color: var(--color-ebony);
      transition: color .3s;

      @include minidesk {
         font-size: 18px;
      }
   }
}