.social {
   display: flex;
   align-items: center;
   gap: 16px;

   &__link {
      display: block;
      width: 24px;
      height: 24px;
      color: rgba(#fff, .6);
      
      &:focus {
         outline: 1px solid var(--color-primary);
         outline-offset: 2px;
      }

      &:hover {
         color: var(--color-primary);
      }
      
      &:active {
         color: var(--color-active);
      }
      
      svg {
         display: block;
         width: 100%;
         height: 100%;
         fill: currentColor;
         object-fit: cover;
         transition: color .3s;
      }
   }
}